/*VARS*/

$mainFont:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$secondaryFont:sans-serif;
$mainColor: rgb(209, 209, 209);
$secondaryColor:blue;
$white:rgb(255, 255, 255);
$black:rgb(8, 8, 8);

$textoSm:15px;
$textoMd:20px;
$textoLg:35px;


